/* Body and Headings */

h1, h2 {
   color: #023047;
}

/* Main Container */
 /* --- contains the large-box, which hangs on the left side of the screen. the small box will float from the large box  */
.main-container {
   /* width: 60%; */
   /* height: 900px; */
   margin: auto;
   display: flex;
   /* flex-direction: row;
   flex-wrap: wrap; */
}

/* Header and Footer */
header, .header {
   width: 100%;
   margin: auto;
   margin-bottom: 10px;
   display: flex;
}
header img {
   width: 100%;
}
.logo-wrap a {
   width: 10%;
   margin: 5px;
}
.logo-wrap h3 {
   display: flex;
   align-items: center;
   color: #219EBC;
   padding: 5px;
}
.logo-wrap {
   display: flex;
   width: 50%;
   margin: 5px;
}
header ul {
   width: 45%;
   padding: 10px;
   text-align: right;
}
header li {
   display: inline-block;
   height: 38px;
   padding: 1em 2em 1em 3em;
   color: blue;
   text-align: center;
   font-size: 11px;
   font-weight: 600;
   line-height: 38px;
   text-transform: uppercase;
   white-space: nowrap;
   cursor: pointer;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
.small-box-btn:hover
{
   background-color: #8ecae6;
   border: transparent;
   outline: 0;
}
footer,
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 80px;
   background-color: #FFB703;
   border: none;
}
.footer-wrap {
   display: flex;
   align-items: center;
   text-align: center;
   width: 25%;
   margin: auto;
   margin-top: .2em;
   margin-bottom: .2em;
}
.footer-wrap img {
   width: 100%;
   height: auto;
}
.footer-wrap a {
   width: 15%;
   height: 90%;
   margin: .5em;
}
.footer-wrap h6 {
   padding: .2em;
   margin: .2em;
}
/* a {
   text-decoration: none;
} */
header li, footer li {
   list-style-type: none;
   display: inline;
   padding-left: 3px;
}

/* INDEX PAGE */
.large-box {
   /* overflow: hidden; */
   display: block;
   background-color: #8ecae6;
   position: relative;
   left: 0px;
   top: 12%;
   /* z-index: -1; */
   border-radius: 10px;
   width: 40%;
   height: 720px;
   margin-right: 2em;
}
.small-box {
   /* overflow: hidden; */
   background-color: #219EBC;
   color: #023047;
   position: absolute;
   left: 45%;
   top: 14%;
   /* z-index: -1; */
   text-align: center;
   /* background-repeat: no-repeat; */
   border-radius: 10px;
   width: 70%;
   height: 540px;
   /* padding-bottom: 2em; */
   box-shadow: 5px 5px 10px #8ecae6;
}
.small-box-btn {
   border-radius: 5px;
   padding: .5em;
   text-transform: uppercase;
}
.web-links {
   width: 100%;
   height: 12%;
   background-color: white;
}
.web-links a {
   width: 25%;
   margin: auto;
}
.web-links img {
   width: 10%;
   height: auto;
   margin-top: .5em;
   margin-bottom: .5em;
}
.small-box-content img {
   /* display: block; */
   margin-left: auto;
   margin-right: auto;
   width: 45%;
   border-radius: 50%;
   padding: 10px;
}

.skillset-wrap span,
#skillset {
   color: #023047;
}
.right-box {
   text-align: left;
   /* left: 50%; */
   position: relative;
   top: 16%;
   width: 20%;
   /* height: 600px; */
   /* overflow: hidden; */
   /* position: absolute; */
   padding: 2em 2em 0 2em;
   margin: .5em;
   margin-left: 5em;
}
.right-box img {
   width: 98%;
   margin: auto;
}
.project,
.experience-wrap,
.education-wrap,
.impact-wrap,
.about-me-wrap
{
   box-shadow: 5px 5px 10px lightgrey;
}

/* PROJECTS PAGE*/
.project-wrap {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 90%;
   /* margin: 0 auto; */
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}
.project {
   width: 22%;
   height: 320px;
   margin: 1em;
   border-radius: 10px;
   /* border: 2px solid blue; */
}
.project-links {
   width: 100%;
   height: 15%;
   background-color: #219EBC;
   border-radius: 10px;
   margin-bottom: .5em;
}
.project-links-centered {
   display: flex;
   align-items: center;
   padding: 5px;
   width: 50%;
   margin: auto;

}
.visit-page-btn {
   width: 2em;
   text-align: center;
   letter-spacing: .2rem;
   text-transform: uppercase;
   text-decoration: none;
   white-space: nowrap;
   background-color: transparent;
   border-radius: 4px;
   border: 1px solid #bbb;
   cursor: pointer;
   box-sizing: border-box;
}
.project-links-centered a {
   /* width: 30%;
   height: 50%;
   margin: .5em; */
}
.project-links-centered img {
   width: 25%;
   /* height: 98%; */
}

/* BIO/ABOUT ME PAGE */
.about-me-wrap {
   display: block;
   width: 45%;
   height: 500px;
   margin: auto;
   margin-bottom: 1em;
   padding: 2em;
   border-radius: 10px;
   /* text-align: left; */
}
.about-me-text h5 {
   text-align: center;
}
.about-me-text {
   border-radius: 10px;
   text-align: justify;
   padding: 1.2em;
   font-weight: lighter;
}

.about-me-wrap img {
   width: 75%;
   margin: auto;
   display: block;
}

/* RESUME PAGE  */
.resume-header {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 50%;
   margin: auto;
   text-align: center;
}
.resume-header button {
   height: 20px;
}

.experience-wrap,
.education-wrap {
   width: 50%;
   margin: auto;
   display: block;
   margin-bottom: 1em;
   padding: 2em;
   background-color: #d8e2dc;
   border: 1.5px solid lightgrey;
   border-radius: 10px;
}

/* SOCIAL IMPACT PAGE */
.impact-header {
   width: 60%;
   margin: auto;
   text-align: center;
}
.impact-wrap {
   width: 60%;
   height: 400px;
   margin: auto;
   display: flex;
   margin-bottom: 1em;
   padding: 1.5em;
   /* background-color: grey; */
   border-radius: 10px;
   text-align: center;
}
#rai-logo {
   width: 60%;
   height: auto;
   margin: auto;
}
#okapi-logo {
   width: 40%;
   height: auto;
   margin: auto;
}
.impact-text {
   width: 40%;
   padding: 1em;
}
.impact-img {
   width: 60%;
   margin: 5px;
}
.impact-img img {
   width: 98%;
   height: 98%;
   margin: auto;
   display: block;
   border-radius: 10px;
}

/* IMPORT FROM SKELETON

BUTTONS  */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.resume-header button {
   height: 3em;
   padding: 0 .5em 1.2em .5em;
   margin: 5px;
   background-color: grey;
}
